html {
  background-color: #f2f1ed;
  font-family: Georgia, serif;
}

img {
  width: 100%;
}

h1 {
  color: #5d8432;
  text-transform: uppercase;
  font-family: "Patua One";
}

h2 {
  color: #5d8432;
  text-transform: uppercase;
  font-family: "Patua One";
}

figcaption {
  font-size: .9rem;
  font-style: italic;
  text-align: center;
}

a,
a:link {
  color: #793284;
}

a:hover {
  color: #b42885;
}

ol {
  font-family: "Patua One";
}

.hadro {
  font-size: 1.1rem;
}
