html {
  background-color: #f2f1ed;
  font-family: Georgia, serif;
  line-height: 1.5;
}

img {
  width: 100%;
}

h1 {
  color: #5d8432;
  text-transform: uppercase;
  font-family: "Patua One";
}

h2 {
  color: #5d8432;
  text-transform: uppercase;
  font-family: "Patua One";
}

figcaption {
  font-size: .6rem;
  font-style: italic;
  text-align: center;
}

a,
a:link {
  color: #793284;
  font-size: 1.125rem;
}

a:hover {
  color: #b42885;
}

ol {
  font-family: "Patua One";
  text-decoration: none;
  font-weight: bold;
}

.hadro {
  font-size: 1.2rem;
}
